<div>
	<nav class="top-bar">
	 <section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="active"><a href="http://blooming-woodland-6670.herokuapp.com/">Home</a></li> gallery2/
	app/
		assets/
			images/
			javascripts/
				application.js
				form_demo.js.coffee
				notifier.js.coffee
				signup.js.coffee
				users_controller.js.coffee
			stylesheets/
				application.scss
				foundation_and_overrides.scss
		controllers/
			application_controller.rb
			concerns/
			form_demo_controller.rb
			signup_controller.rb
			users_controller.rb
		helpers/
			application_helper.rb
			form_demo_helper.rb
			notifier_helper.rb
			signup_helper.rb
			users_controller_helper.rb
		mailers/
		models/
			concerns/
			notifier.rb
			notifier2.rb
			user.rb
		views/
			form_demo/
				join.html.erb
			layouts/
				application.html.erb
			notifier/
			notifier2/
				notifer2.html.erb
				signup_email.html.erb
			signup/
				images/
					Landing.jpg
				intro.html.erb
			users/
				new.html.erb
	bin/
		bundle
		rails
		rake
	config/
		application.rb
		boot.rb
		database.yml
		environment.rb
		environments/
			development.rb
			production.rb
			test.rb
		initializers/
			backtrace_silencers.rb
			filter_parameter_logging.rb
			inflections.rb
			mime_types.rb
			secret_token.rb
			session_store.rb
			wrap_parameters.rb
		locales/
			en.yml
		routes.rb
	config.ru
	db/
		development.sqlite3
		migrate/
			20130927092841_create_notifiers.rb
			20130927094524_create_user.rb
			20130929224202_create_notifier2s.rb
		schema.rb
		seeds.rb
	Gemfile
	Gemfile.lock
	lib/
		assets/
		tasks/
	log/
		development.log
		production.log
	public/
		404.html
		422.html
		500.html
		assets/
			application-02e276f1c794e0ede512781b81631ffb.css
			application-02e276f1c794e0ede512781b81631ffb.css.gz
			application-43a8183fc48826d0ba977e0c0e9c80a1.js
			application-43a8183fc48826d0ba977e0c0e9c80a1.js.gz
			application-7aeae0e2ef9b28c8e5a738e413559540.css
			application-7aeae0e2ef9b28c8e5a738e413559540.css.gz
			application-810d911d491c75acde331f866182dc25.css
			application-810d911d491c75acde331f866182dc25.css.gz
			application-9a395e986ceae999fd269d2f99081728.css
			application-9a395e986ceae999fd269d2f99081728.css.gz
			application-b28dd3e3f619e3c770c6c1036b3afc2d.css
			application-b28dd3e3f619e3c770c6c1036b3afc2d.css.gz
			manifest-7191716a55ed39f832ab2c48f3a405ce.json
			vendor/
				custom.modernizr-3767f42bc62dd42a795d8b6054728d63.js
				custom.modernizr-3767f42bc62dd42a795d8b6054728d63.js.gz
				zepto-ad3fe8acab558b49edb96288516de4a9.js
				zepto-ad3fe8acab558b49edb96288516de4a9.js.gz
		favicon.ico
		images/
			Landing.jpg
		robots.txt
	Rakefile
	README.rdoc
	test/
		controllers/
			form_demo_controller_test.rb
			notifier_controller_test.rb
			signup_controller_test.rb
			users_controller_controller_test.rb
		fixtures/
			notifier2s.yml
			notifiers.yml
		helpers/
			form_demo_helper_test.rb
			notifier_helper_test.rb
			signup_helper_test.rb
			users_controller_helper_test.rb
		integration/
		mailers/
		models/
			notifier2_test.rb
			notifier_test.rb
		test_helper.rb
	tmp/
		cache/
			assets/
				development/
					sass/
						7a1f239ded8bb352bdf740f17fa3462530bb7912/
							_alert-boxes.scssc
							_block-grid.scssc
							_breadcrumbs.scssc
							_button-groups.scssc
							_buttons.scssc
							_clearing.scssc
							_custom-forms.scssc
							_dropdown-buttons.scssc
							_dropdown.scssc
							_flex-video.scssc
							_forms.scssc
							_global.scssc
							_grid.scssc
							_inline-lists.scssc
							_joyride.scssc
							_keystrokes.scssc
							_labels.scssc
							_magellan.scssc
							_orbit.scssc
							_pagination.scssc
							_panels.scssc
							_pricing-tables.scssc
							_progress-bars.scssc
							_reveal.scssc
							_section.scssc
							_side-nav.scssc
							_split-buttons.scssc
							_sub-nav.scssc
							_switch.scssc
							_tables.scssc
							_thumbs.scssc
							_tooltips.scssc
							_top-bar.scssc
							_type.scssc
							_visibility.scssc
						7e4056aa367cf27987fd7894fb7d044c978ec2d4/
							_foundation-global.scssc
						b4ba29932c12732ffeb989d99fad82113cee0139/
							foundation.scssc
						c6119fb1b75a15fcada6c24bfac247fb037a77b1/
							application.css.scssc
							application.scssc
							form_demo.css.scssc
							foundation_and_overrides.scssc
							notifier.css.scssc
							signup.css.scssc
							users_controller.css.scssc
					sprockets/
						002178365e1c9dcdf3dc5415e10380bb
						074b31ff4e64e1456b6ac77bf109138d
						09af0cbf85a44bf1973308a36578ea90
						0b7ebbdf54f714af319809f9531098cb
						0c03b7563dc359652c327e8435487fc7
						0e35251bb4d35dac587ba1a82e13713d
						1028b2ec8a91b92f8d49177571f045d9
						13fe41fee1fe35b49d145bcc06610705
						148f0919d89e99ddf267fb993057c8df
						15b68eb50b3ce00c0c8ab68e8c63a136
						19b81ca8a21e56decb59ad4f9cc0a6b1
						1d69b1fabc843e435632626eb53a2987
						1debb5ad76b42bac757512e8261acfad
						1eee9000a0b69efe19dbfacd83a9093c
						1f75550ad230425df7589d1d8127b05b
						201ac86906202174dd9a1d8e3b90b9b8
						2541d1bbc37e580745b7be92bcc50263
						2a23434c4d4ed314c3cf102c7890c6bf
						2b65391f8e0c983c92592775cde7ac73
						2bbd7b0a339502743fd15add6c55cc85
						2f42388ee84fc7af7ac37df1a6f61a9c
						2f5173deea6c795b8fdde723bb4b63af
						2fdeeac53af74f6f499f87c661ac5a9e
						346a0bf2602f6d8b65143e3cfe76f60d
						352bab412d75fa19d0a07504553b59df
						357970feca3ac29060c1e3861e2c0953
						398f5422897c506169aaad1e689fa553
						3a14a01bf2e970802a0088b2a70902dd
						3a78bf536d153cd9006007c12671061e
						424c0bd1b34be258c60a85e17973d813
						440805768652b774ed9d8e935fb266f5
						455a4525b05387296fe2659e5d6589f6
						4573ad164e9cf08599879d50a825395c
						493437b8384497bd7e867f5e3ecef711
						49a87999cf68a5a767884d81b6d00258
						4a599ef6796ea99ad511f913767164f9
						4cdd7627b514c6399313cc2595691cd9
						4e1ba55df98bfba3ebca6cccbac48ffc
						56ea9bf90ba9a3b9fb40eefd7bc6f469
						588adf23794ea33837cfde857a597315
						58cd627d162c57faf22b9e6c76052c42
						58df39ae0a658bffe0942ddbd12f16b5
						5ac35791b811947b145ad0f44ab7756e
						5caff8f4458965a26c703601e5329ecb
						609cf54378906ba969e87c26131327ef
						62676507e763ae34ab044b6cf0b5d9e7
						6982c4324f7c4a65505f20c47c2a8428
						6a066f5e5c09f586861e87e9ee7fade9
						6bbf945d527cd5b2c6d28ea96bccf1cd
						6d0d5461133bab2c374073c01c71a047
						6e1bd95023705b5529e7ccc754a02867
						7197d4ac96955e0116a29f412ed1195b
						732566aeee1fcfebcb20a1ebdaf3388a
						7b05a1f4874403ad749a6cd80b89afdd
						7b17de2aa94f5206252e277afe1df40c
						7be8a360095211d9dfef9e8fbb9f6b9d
						7d1484f435dca9400ed79ac50bf26984
						7d6a0f65b61801f3babe1187655d5713
						8077554f2db63cd6089feb3c095b0a3c
						859bafd40d3c6de4e242acd59dacf288
						890c004b49568fa8a4b2ad65e24df4fa
						8989eefc44d5b3d311742241418dd2c2
						8ab512c9b33ac90e699b73469d71f061
						8fae82250d6c4100c8f7ccfd74416267
						8fe6d29b7ebf6849b83fb5d2c37bab33
						92613a75279536c4bcf4f3ba6cfde494
						94a83e182952c04654ec74c957a8e37e
						986acacf3853ec00b4e1995b61fd3e93
						9947f4550a3941be602cd9cfe36aa4e3
						9960a54b432953b509312d94d3c12dd3
						9a28e89aefd68c221fbdc3348052a425
						9f6c37d181eca22f6215b3a0762192d6
						9fdd00562d6dea819db33bdf1f5cab5b
						ae86f99f8366072e6f81864a99b98faa
						b035f8590a163d9de642f9b4e2cc25a6
						b6dda5d22548c718795082644aba9e34
						b78bfbffb74ee4df44fe40baed9c8349
						bcca522c6302f184f12fe0e8a7d7e71a
						c0541f37a48c06469f284192ae351f9c
						c124eab9d771eec4f387094a99b816c5
						c13fc73ceafa45876a901b3e775b83ae
						c34b8443d0ce2d6cf3e470df83fc4757
						c6a802e6cb863cf463237b0c243b77e5
						c762a90e7fb2460a9dcb98ab4b103249
						c87962cd44e03fa68e1c9bcc9c4b4bf3
						ca8a4acc186a9543c33dc8fa3586d6fc
						cae7d4832ec509533f7f68736b2e96b7
						cffd775d018f68ce5dba1ee0d951a994
						d14bc01119d9d87f6b85485e532f7592
						d771ace226fc8215a3572e0aa35bb0d6
						dff284838be3083809f637c7d99b94c0
						e3f89561e8f87ec7ed5b8f0eb898d925
						ecb5ade71c5a9ab751e06de08d599f5e
						eddf9135441fe924588dec8476ac5ff5
						f514ba0260c6b075496c98b782485702
						f7cbd26ba1d28d48de824f0e94586655
						fc3ec1b0b06fd4d4bdd3406c425762aa
						fd8e89767db29739292acd2749fd718b
						ff57449600bb52a6c4e3da3a2b3aae02
		pids/
			server.pid
		sessions/
		sockets/
	vendor/
		assets/
			javascripts/
			stylesheets/

	   		<li class="divider"></li>
			<li class="active"><a href="#">VIP Member</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Experiences</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Moments</a></li>
	   		<li class="divider"></li>
			<li class="active"><a href="#">Awards</a></li>			
		</ul>
	 </section>
	 </nav>     
</div>


<h1>Sign-up Form</h1>

<%= form_for(:user, :url => {:action => 'create'}) do |f|%>
	
	<table>
		<tr>
			<th> First Name </th>
			<td><%= f.text_field(:first_name)%></td>
		</tr>
		<tr>
			<th> Last Name </th>
			<td><%= f.text_field(:last_name)%></td>
		</tr>
		<tr>
			<th> Email </th>
			<td><%= f.text_field(:email)%></td>
		</tr>
	</table>
	
<%= f.submit %>
<% end %>